body{
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.zoom{
    /* width: 200px;
    height: 200px; */
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/12a.webp');
    background-size: cover;
    transition: transform .5s ease;
}

.zoom:hover {
    transform: scale(1.1);
}

button.loved{
    background-color: #FF1744;
}